* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-otr {
  margin-left: 300px !important;
  padding: 20px;
}
.sidebar-otr {
  width: 300px;
  background-color: #f5f7fa;
  border-right: 1px solid #e7e3e3;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  /* padding: 0 10px; */
}
.btn.btn-primary {
  background-color: #222222;
  color: #fff;
  border-color: #222222;
}
.contact-form .form-control {
  box-shadow: none !important;
  border-radius: 3px !important;
  border-color: transparent !important;
  padding: 10px 15px !important;
  background-color: #fafafa !important;
}
.contact-form .form-control:focus {
  border-color: #222222 !important;
}
textarea {
  resize: none !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  padding-right: 12px !important;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: transparent !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #de3c52 !important;
}

.new-chat .new-chat-btn {
  background-color: #fff;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #ebe7e7;
  transition: 0.1s ease-in-out;
}
.new-chat .new-chat-btn:hover {
  background-color: #f5f7fa;
  border: 1px solid #dcd6d6;
}
.history-box {
  background-color: #dce0e9;
  padding: 2px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-day {
  font-size: 12px;
}
.history-box .chat-title {
  font-size: 15px;
}
.history-box .chat-description {
  font-size: 12px;
}
.sidebar-footer .sidebar-footer-menu {
  font-weight: 500;
  font-size: 15px;
}
.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-footer:hover {
  background-color: #e9ecf6;
}

/* Email Sender CSS Start */
.contact-form {
  max-width: 900px;
  margin: auto;
}
.contact-form h1 {
  font-family: "Roboto", sans-serif; /* Choose a modern font */
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #222222;
  transition: color 0.3s ease, transform 0.3s ease;
}
.contact-form h1 span {
  display: inline-block;
  color: #1679ab; /* Accent color */
  transition: color 0.3s ease, transform 0.3s ease;
}
.contact-form h1:hover {
  color: #444444;
  transform: scale(1.04); /* Slight scaling effect */
}
.contact-form h1 span:hover {
  color: #222222;
  transform: scale(1.07); /* Slight scaling effect */
}

.send-btn {
  background-color: #222222;
  color: #fff;
  border: 1px solid #222222;
  border-radius: 3px;
  padding: 10px;
  width: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.send-btn:hover {
  background-color: #333333;
  transform: scale(1.05);
}
/* Email Sender CSS End */
